<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>コミュニティ登録フォーム</title>
    <style th:utext="${inlineCss}"></style>
</head>
<body>

    <div class="form-container">
        <h1>コミュニティ登録</h1>
        <form th:action="@{/v1/community/new}" method="post" th:object="${community}"  enctype="multipart/form-data">
            <!-- コミュニティ名 -->
            <label for="name">コミュニティ名</label>
            <input type="text" id="name" th:field="*{name}" required>

            <!-- 概要メッセージ -->
            <label for="summaryMessage">概要メッセージ</label>
            <input type="text" id="summaryMessage" th:field="*{summaryMessage}" required>

            <!-- PR文 -->
            <label for="summaryPr">PR文</label>
            <input type="text" id="summaryPr" th:field="*{summaryPr}" required>

            <!-- 説明文 -->
            <label for="description">説明文</label>
            <textarea id="description" th:field="*{description}" rows="4" required></textarea>

            <!-- 画像アップロード -->
            <div class="image-upload">
                <label>コミュニティ画像</label>

                <!-- 画像プレビューボックス -->
                <div class="image-preview" id="imagePreview">
                    <span>ここに画像が表示されます</span>
                </div>

                <!-- アップロードボタン -->
                <label class="upload-btn" for="imageUpload">画像をアップロード</label>
                <input type="file" id="imageUpload" name="imageUrl" accept="image/*" onchange="previewImage(event)">
            </div>

            <!-- メンバー数 -->
            <label for="memberCount">メンバー数</label>
            <input type="number" id="memberCount" name="memberCount" min="1" value="1" required>

            <!-- 公開範囲 -->
            <label for="visibility">公開範囲</label>
            <select id="visibility" th:field="*{visibility}" required>
                <option value="1">公開</option>
                <option value="2">地域限定</option>
                <option value="3">承認制</option>
            </select>

            <!-- Submit button -->
            <button type="submit" class="submit-btn">登録する</button>
        </form>
    </div>

    <!-- サイドメニュー -->
    <div class="side-menu" id="side-menu">
        <a th:href="@{/v1/mypage}">マイPage</a>
        <a th:href="@{/v1/community/community_list}">コミュニティ一覧</a>
        <a th:href="@{/v1/event/event_list}">イベント一覧</a>
        <a th:href="@{/v1/event/new/step1}">イベント作成</a>
        <a th:href="@{/v1/community/new}">コミュニティ作成</a>
        <a th:href="@{/v1/community/new_group}">コミュニティ連携</a>
    </div>
    <div class="overlay" id="overlay" onclick="toggleMenu()"></div>
    <script th:utext="${inlineJs}"></script>
</body>
</html>

