<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>コミュニティ紹介ページ</title>
    <style th:utext="${inlineCss}"></style>
</head>
<body>

<!-- Header -->
<div class="header">
    <h1>スポコミ</h1>
    <div class="hamburger-menu"  onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- Main Container -->
<div class="container" th:object="${communityPage}" th:attr="data-community-name=${communityPage.name}">

    <!-- Community Photo -->
    <div class="community-photo">
        <img th:src="${communityPage.profileImageUrl}" th:alt="${communityPage.name}" onerror="this.style.display='none';">
    </div>

    <!-- Community Info -->
    <div class="community-info">
        <h2 th:text="${communityPage.name}"></h2>
        <p th:text="${communityPage.description}">サッカー愛好会は、地域の子どもたちから大人まで誰でも楽しめるコミュニティです。毎週日曜に集まり、楽しくサッカーをプレイしています。初心者も大歓迎！体を動かしてリフレッシュしましょう！</p>
    </div>

    <!-- Activity Schedule -->
    <div class="activity-schedule">
        <h3>最近の動き</h3>
        <ul th:each="event: ${communityPage.eventScheduleList}">
            <li th:attr="data-interested-count=${event.favN}, data-event-name=${event.eventName}, data-event-date=${dateUtils.formatLocalDateTime(event.dateTime, 'MM月dd日 HH:mm')}">
                <span th:text="${dateUtils.formatLocalDateTime(event.dateTime, 'MM月dd日 HH:mm')} + ' :  ' + ${event.eventName} + '@' + ${event.location}"></span>
            </li>
        </ul>
    </div>

    <!-- Activity History -->
    <div class="activity-history">
        <h3>活動履歴</h3>
        <ul th:each="event: ${communityPage.activityHistoryList}">
            <li th:text="${dateUtils.formatLocalDateTime(event.dateTime, 'MM月dd日 HH:mm')} + ' :  ' + ${event.eventName} + '@' + ${event.location}">
            </li>
        </ul>
    </div>


</div>


<!-- Footer -->
<div class="footer">
    ©spocomi
</div>

<!-- サイドメニュー -->
<div class="side-menu" id="side-menu">
    <a th:href="@{/v1/mypage}">マイPage</a>
    <a th:href="@{/v1/community/community_list}">コミュニティ一覧</a>
    <a th:href="@{/v1/event/event_list}">イベント一覧</a>
    <a th:href="@{/v1/community/new}">コミュニティ作成</a>
</div>
<div class="overlay" id="overlay" onclick="toggleMenu()"></div>
<script th:utext="${inlineJs}"></script>
</body>
</html>

