<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>コミュニティ紹介ページ</title>
    <style th:utext="${inlineCss}"></style>
</head>
<body>

    <!-- Header -->
    <div class="header">
        <h1>スポコミ</h1>
        <div class="hamburger-menu"  onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Main Container -->
    <div class="container" th:object="${communityPage}" th:attr="data-community-name=${communityPage.name}">

        <!-- Community Photo -->
        <div class="community-photo">
            <img th:src="${communityPage.profileImageUrl}" th:alt="${communityPage.name}" onerror="this.style.display='none';">
        </div>

        <!-- Community Info -->
        <div class="community-info">
            <h2 th:text="${communityPage.name}"></h2>
            <p th:text="${communityPage.description}">サッカー愛好会は、地域の子どもたちから大人まで誰でも楽しめるコミュニティです。毎週日曜に集まり、楽しくサッカーをプレイしています。初心者も大歓迎！体を動かしてリフレッシュしましょう！</p>
        </div>

        <!-- Activity Schedule -->
        <div class="activity-schedule">
            <h3>最近の動き</h3>
            <ul th:each="event: ${communityPage.eventScheduleList}">
                <li th:attr="data-interested-count=${event.favN}, data-event-name=${event.eventName}, data-event-date=${dateUtils.formatLocalDateTime(event.dateTime, 'MM月dd日 HH:mm')}">
                    <span th:text="${dateUtils.formatLocalDateTime(event.dateTime, 'MM月dd日 HH:mm')} + ' :  ' + ${event.eventName} + '@' + ${event.location}"></span>
                    <button class="invite-button" onclick="showInviteDialog(this)">招待</button>
                </li>
            </ul>
        </div>

        <!-- Activity History -->
        <div class="activity-history">
            <h3>活動履歴</h3>
            <ul th:each="event: ${communityPage.activityHistoryList}">
                <li th:text="${dateUtils.formatLocalDateTime(event.dateTime, 'MM月dd日 HH:mm')} + ' :  ' + ${event.eventName} + '@' + ${event.location}">
                </li>
            </ul>
        </div>

        <!-- Buttons -->
        <div class="buttons">
            <!--button class="event-button" th:attr="data-community-id=${communityPage.id}" onclick="createEvent(this)">イベント作成</button-->
            <button class="event-button" th:attr="data-community-id=${communityPage.id}"
                    th:data-url="@{/v1/community/event/new/step2/{communityId}(communityId=${communityPage.id})}"
                    onclick="createCommunityEvent(this)">
                イベント作成
            </button>
            <button class="message-button">招待リンク</button>
            <button class="network-button" th:attr="data-community-id=${communityPage.id}"
                    th:data-networking-url="@{/v1/community/network/new/step2/{communityId}(communityId=${communityPage.id})}"
                    onclick="createNetwork(this)">
                連携</button>
        </div>

    </div>

    <div id="inviteModal" class="modal">
        <div class="modal-content">
            <p id="modalText">2人がサッカー愛好会に興味を持っています。<br>10月15日のサッカー交流会に招待しますか？</p>
            <button class="yes-btn" onclick="closeInviteDialog()">はい</button>
            <button class="no-btn" onclick="closeInviteDialog()">いいえ</button>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        ©spocomi
    </div>

    <!-- サイドメニュー -->
    <div class="side-menu" id="side-menu">
        <a th:href="@{/v1/mypage}">マイPage</a>
        <a th:href="@{/v1/community/community_list}">コミュニティ一覧</a>
        <a th:href="@{/v1/event/event_list}">イベント一覧</a>
        <a th:href="@{/v1/community/event/new/step1}">イベント作成</a>
        <a th:href="@{/v1/community/new}">コミュニティ作成</a>
        <a th:href="@{/v1/community/new_group}">コミュニティ連携</a>
    </div>
    <div class="overlay" id="overlay" onclick="toggleMenu()"></div>
    <script th:utext="${inlineJs}"></script>
    <script>
        function showInviteDialog(element) {
            var communityName = document.querySelector('.container').getAttribute('data-community-name');
            var eventName = element.parentNode.getAttribute('data-event-name');
            var eventDate = element.parentNode.getAttribute('data-event-date');
            var favN = element.parentNode.getAttribute('data-interested-count');
            document.getElementById('modalText').innerHTML = `${favN}人が${communityName}に興味を持っています。<br>${eventDate}の${eventName}に招待しますか？`;
            document.getElementById('inviteModal').style.display = 'flex';
        }

        // Function to close the invite dialog
        function closeInviteDialog() {
            document.getElementById('inviteModal').style.display = 'none';
        }
        function createCommunityEvent(element) {
            const url = element.getAttribute('data-url');
            window.location.href = url;
        }
        function createNetwork(element) {
            const url = element.getAttribute('data-networking-url');
            window.location.href = url;
        }
        /*
        function createEvent(element) {
            const communityId = element.parentNode.getAttribute('data-community-id');
            window.location.href = `@{/v1/community/{communityId}/event/new(communityId=${communityId})}`; // Thymeleafテンプレートの基本URL
        }
         */
        /*
        document.querySelector('.event-button').addEventListener('click'/, function() {
            var communityId = element.parentNode.getAttribute('data-community-id');
            const url = `@{/v1/community/{communityId}/event/new(communityId=${communityId})}`; // Thymeleafテンプレートの基本URL

            // URLにクエリパラメータとしてeventIdを追加
            //const url = `${baseUrl}?eventId=${eventId}`;
            window.location.href = url;
        });
         */
    </script>
</body>
</html>

