<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イベント作成</title>
    <style th:utext="${inlineCss}"></style>
</head>
<body>
    <!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <!-- コミュニティ選択 -->
        <div class="community-select-area">
            <select name="community-select" id="community-select">
                <option value="">コミュニティを選択</option>
                <option th:each="community : ${myPage.communitySelectorList}"
                        th:value="${community.communityId}"
                        th:text="${community.communityName}">
                </option>
            </select>
            <a id="community-home-link" href="#"><button type="button" onclick="navigateToEventRegistration()">決定</button></a>
        </div>
    </div>


    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>

    <!-- サイドメニュー -->
    <div th:replace="fragments/side_menu :: sideMenu"></div>
    <div class="overlay" id="overlay" onclick="toggleMenu()"></div>
    <script th:utext="${inlineJs}"></script>
    <script>
        function navigateToEventRegistration() {
            var selectedCommunityId = document.getElementById('community-select').value;
            if (selectedCommunityId) {
                // Replace the URL with the selected community ID
                var link = document.getElementById('community-home-link');
                link.href = '/v1/community/event/new/step2/' + selectedCommunityId;
                link.click(); // Simulate a click on the link
            } else {
                alert('コミュニティを選択してください');
            }
        }
    </script>
</body>
</html>

