<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イベント紹介ページ</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/spocomi.css}"  media="screen,projection"/>
</head>
<body>

    <!-- Header -->
    <div class="header">
        <h1>スポコミ</h1>
        <div class="hamburger-menu"  onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Main Container -->
    <div class="container" th:object="${eventPage}" th:attr="data-community-name=${eventPage.title}">

        <!-- Community Info-->
        <div class="community-info">
            <h2 th:text="${eventPage.title}"></h2>
            <p th:text="${eventPage.description}"></p>
        </div>

        <!-- Community Info-->
        <div class="buttons">
            <button class="join-button">参加</button>
        </div>

    </div>

    <!-- Footer -->
    <div class="footer">
        ©spocomi
    </div>

    <!-- サイドメニュー -->
    <div class="side-menu" id="side-menu">
        <a th:href="@{/v1/mypage}">マイPage</a>
        <a th:href="@{/v1/community/community_list}">コミュニティ一覧</a>
        <a th:href="@{/v1/event/event_list}">イベント一覧</a>
        <a th:href="@{/v1/community/event/new/step1}">イベント作成</a>
        <a th:href="@{/v1/community/new}">コミュニティ作成</a>
        <a th:href="@{/v1/community/new_group}">コミュニティ連携</a>
    </div>
    <div class="overlay" id="overlay" onclick="toggleMenu()"></div>
    <script th:src="@{/js/spocomi_menu.js}"></script>
</body>
</html>

