<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>コミュニティ紹介ページ</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/spocomi.css}"  media="screen,projection"/>
</head>
<body>

    <!-- Header -->
    <div class="header">
        <h1>スポコミ</h1>
        <div class="hamburger-menu"  onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Main Container -->
    <div class="container" th:object="${event}" th:attr="data-community-name=${event.name}">

        <!-- Community Photo -->
        <div class="community-photo">
            <img th:src="${event.imagePath}" th:alt="${event.name}" onerror="this.style.display='none';">
        </div>

        <!-- Community Info -->
        <div class="community-info">
            <h2 th:text="${event.name}"></h2>
            <p th:text="${event.description}"></p>
        </div>

        <!-- Buttons -->
        <div class="buttons">
            <button class="join-button">参加</button>
        </div>

    </div>

    <!-- Footer -->
    <div class="footer">
        ©spocomi
    </div>

    <!-- サイドメニュー -->
    <div class="side-menu" id="side-menu">
        <a th:href="@{/v1/mypage}">マイPage</a>
        <a th:href="@{/v1/community/community_list}">コミュニティ一覧</a>
        <a th:href="@{/v1/event/event_list}">イベント一覧</a>
        <a th:href="@{/v1/community/event/new/step1}">イベント作成</a>
        <a th:href="@{/v1/community/new}">コミュニティ作成</a>
        <a th:href="@{/v1/community/new_group}">コミュニティ連携</a>
    </div>
    <div class="overlay" id="overlay" onclick="toggleMenu()"></div>
    <script th:src="@{/js/spocomi_menu.js}"></script>
    <script>
        function showInviteDialog(element) {
            var communityName = document.querySelector('.container').getAttribute('data-community-name');
            var eventName = element.parentNode.getAttribute('data-event-name');
            var eventDate = element.parentNode.getAttribute('data-event-date');
            var favN = element.parentNode.getAttribute('data-interested-count');
            document.getElementById('modalText').innerHTML = `${favN}人が${communityName}に興味を持っています。<br>${eventDate}の${eventName}に招待しますか？`;
            document.getElementById('inviteModal').style.display = 'flex';
        }

        // Function to close the invite dialog
        function closeInviteDialog() {
            document.getElementById('inviteModal').style.display = 'none';
        }
        document.querySelector('.event-button').addEventListener('click', function() {
            var communityId = element.parentNode.getAttribute('data-community-id');
            const url = `@{/v1/community/{communityId}/event/new(communityId=${communityId})}`; // Thymeleafテンプレートの基本URL

            // URLにクエリパラメータとしてeventIdを追加
            //const url = `${baseUrl}?eventId=${eventId}`;
            window.location.href = url;
        });
    </script>
</body>
</html>

