<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>コミュニティ連携</title>
    <!--link type="text/css" rel="stylesheet" th:href="@{/css/spocomi.css}"  media="screen,projection"/-->
    <style th:utext="${inlineCss}"></style>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <h1>スポコミ</h1>
        <div class="hamburger-menu"  onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="container" th:object="${networking}" id="networking-container"
        th:data-my-community-id="${networking.myCommunityId}"
        th:data-my-community-name="${networking.myCommunityName}"
        th:data-partner-community-id="${networking.partnerCommunityId}"
        th:data-partner-community-name="${networking.partnerCommunityName}">
        <h1>コミュニティ連携</h1>
    <!--div class="container"  th:object="${networking}">
        <h1>コミュニティ連携</h1-->

        <div class="group-creation">
            <button id="create-group-btn" disabled>結成</button>
        </div>

        <div id="community-container">
            <div class="community-row">
                <input type="text" class="community-id-input" placeholder="コミュニティIDを入力">
                <div class="community-name">- コミュニティ名 -</div>
                <button class="search-btn" onclick="searchCommunity(this)">検索</button>
                <button class="delete-btn" onclick="deleteCommunity(this)">削除</button>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        ©spocomi
    </div>
    <!-- サイドメニュー -->
    <div class="side-menu" id="side-menu">
        <a th:href="@{/v1/mypage}">マイPage</a>
        <a th:href="@{/v1/community/community_list}">コミュニティ一覧</a>
        <a th:href="@{/v1/event/event_list}">イベント一覧</a>
        <a th:href="@{/v1/community/event/new/step1}">イベント作成</a>
        <a th:href="@{/v1/community/new}">コミュニティ作成</a>
        <a th:href="@{/v1/community/new_group}">コミュニティ連携</a>
    </div>
    <div class="overlay" id="overlay" onclick="toggleMenu()"></div>
    <script th:utext="${inlineJs}"></script>
</body>
</html>

